.header {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.underline {
  width: 45rem;
  height: 0.25rem;
  background: blue;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-top: 1%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 0.5rem;
  cursor: pointer;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.album {
  display: flex;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  transition: all 0.5s;
}

.album img {
  width: 200px;
  margin: 0 10px 0 0;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}